@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .nav-link{
        @apply text-slate-50 hover:text-slate-400 transition-colors px-3 lg:text-lg cursor-pointer z-50;
    }

    .hero-ring{
        @apply  absolute inset-0  border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-blue-500/15 shadow-[0_0_80px_inset] shadow-blue-500/15;
    }
}